main {
    min-width: 100%;
}

.gradient-hero {
  background: linear-gradient(to right, rgb(48, 0, 138), rgb(101, 1, 141));
  color: white;
}

.hr-element {
  border-top: 3px solid grey;
  border-radius: 2px;
}
