main {
  min-width: 100%;
}

.gradient-hero {
  background: linear-gradient(to right, rgb(48, 0, 138), rgb(101, 1, 141));
  color: white;
}

.hr-element {
  border-top: 3px solid grey;
  border-radius: 2px;
}

.uvi {
  color: white;
  border-radius: 5px;
  padding: 0 10px;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}

#city-here {
  display: inline;
}

.weather-icon {
  width: 3em;
}
